.peliculas-recomendadas .contenedor-carousel{
    overflow: visible;
}

.peliculas-recomendadas .contenedor-carousel .carousel{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.peliculas-recomendadas .indicadores,
.peliculas-recomendadas .flecha-derecha,
.peliculas-recomendadas .flecha-izquierda{
    display: none;
}
.peliculas-recomendadas .contenedor-carousel .carousel .pelicula{
    min-width: 50%;
    transition: 0.3s ease all;
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.3);
}

.pelicula{
    position: relative;
    display: inline-block;
  }
  
  .icon-container {
    position: absolute;
    top: 40%;
    right: 40%;
    z-index: 1;
    padding: 5px;
    color: white;
    background-color: rgba(0,0,0, 0.3);
    padding: 10px;
    border-radius: 50%;
    transition: .3s ease-in-out;

  }

  .icon-container:hover {
    background-color: rgba(0,0,0, 0.7);
  }

  @media screen and (max-width: 800px) {

    .peliculas-recomendadas .contenedor-carousel{
        overflow: visible;
    }

    .peliculas-recomendadas .contenedor-carousel .carousel{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }

    .peliculas-recomendadas .indicadores,
    .peliculas-recomendadas .flecha-derecha,
    .peliculas-recomendadas .flecha-izquierda{
        display: none;
    }

    .pelicula{
        padding: 0;
        position: relative;
        display: inline-block;
      }
      
      .icon-container {
        position: absolute;
        top: 0%;
        right: 0%;
        z-index: 1;
        padding: 5px;
      }
      
      .icon-container{
       
        color: white;
        background-color: rgba(0,0,0, 0.3);
        padding: 5px;
        border-radius: 50%;
      }

      svg{

        width: 15;
        height: 30;
      }
}
