body{
    background-color:#1c1c1c ;
}

.informacion{
    width: 70%;
    margin: auto;
    height: 80vh;

}

article{
    color: white;
    width: 100%;
    background-color:transparent;

}

article p{
    width: 50%;
    display: inline-block;
}

article input {
    width: 50%;
    display: inline-block;
    background-color:#1c1c1c ;
    margin-right: 2rem;
}