* {
	padding: 0;
	margin: 0;
}


body{
	background-color: #144076;
	font-family: 'Open Sans', sans-serif;
	
 }

 .bg-dark {
	background-color: #0f2947 !important;
}

header {
	color: #fff;
	text-align: center;
	padding: 25px 0 50px 0;
	height: 100px;
	position: absolute;
	top: 0;
	width: 100%;
}

header .titulo {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

main {
	margin-top: 100px;
}

main .contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

/* ------------------------- */
/* Estilos CSS del Reproductor */
/* ------------------------- */
.fm-video {
	width: 100%;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,.5);
}

.fm-video .vjs-control-bar {
	background: #F4F4F4;
	color: #2d5f85;
}

.fm-video .vjs-play-progress,
.fm-video .vjs-volume-level {
	background: #1d87d8;
}

.fm-video .vjs-slider {
	background: #2d5f85;
}

.video-js:hover .vjs-big-play-button {
	background: #3a74e0;
}

.fm-video .vjs-big-play-button {
	background: #144076;
	width: 80px;
	height: 80px;
	line-height: 78px;
	border-radius: 100%;
	border: 2px solid white;
}

.fm-video .vjs-big-play-button:hover {
	background: #3a74e0;
}

article {
	margin: 50px 0;
	color: white;
	font-size: 16px;
	line-height: 28px;
	padding: 40px;
}

article h2 {
	color: white;
	font-size: 32px;
	font-weight: normal;
	margin-bottom: 20px;
}
/*Estilos acordeon bootstrap episodios */

.accordion {

	--bs-accordion-btn-icon:
	url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%233a74e0'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") ;

}

.accordion-button{
	width: 92% !important;
	border: none;

}

.accordion-button:not(.collapsed){

	box-shadow: none;
}

.accordion-button:focus{
	box-shadow: none;

}

.accordion-body{
	background-color: #144076;
}

@media screen and (max-width: 600px) {
	header {
		position: relative;
		height: auto;
	}

	main {
		margin-top: 50px;
	}
}